.outer_most_container {
  height: 80vh;
  padding: 8vh;
  padding-left: 10%;
  padding-right: 10%;
  background-color: #dbc7f0;
  border-radius: 4%;
}

.login_container {
  display: flex;
  height: 100%;
  background-color: #F3F5FA;
  border-radius: 5%;
}

.left_container {
  flex: 1;
  margin: 2vh;
  height: 95%;
  width: 80%;
  border-radius: 30px;
  text-align: center;
}

.right_container {
  flex: 1;
  padding: 20px;
}

.right_side_login_page {
  text-align: center;
  padding-top: 15%;
}

.findHomeImage{
  height: 80%;
}